/*
Corps
*/
.panel {
    margin-left: 10%;
    margin-right: 10%;
}



/*
Footer
*/
.footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #d3e0e9;
}


/**
Grille d'affichage
 */

.thumbnail>img, .thumbnail>a{
    display: block;
    max-width: 252,5px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 380px;
}



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: cornflowerblue;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;

}

.mosaique:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.mosaique {
    width: 280px;
    height: auto;
    padding-left: -10%;
}